<!-- <div class="row gy-3 gx-3">
    @for (usuario of usuarios; track usuario._id) {
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <pre><code class="language-json"
                    >{{ usuario | json_stringify: 4 }}</code>
                    </pre>
                </div>
            </div>
        </div>
    }
</div> -->

<app-tabla-generica
    [datos_tabla]="datos_tabla_generica"
    [documentos]="usuarios() ?? []"
    (paginacion)="cambiar_ordenamiento($event)"
    (click_fila)="accion_click_fila($event)"
></app-tabla-generica>
