<div class="card" [class]="card_classes">
    @if (show_header) {
        <div class="card-header" [class]="header_classes">
            <ng-content select="[header]"></ng-content>
        </div>
    }
    @if (show_body) {
        <div class="card-body" [class]="body_classes">
            <ng-content select="[body]"></ng-content>
        </div>
    }
    @if (show_content_without_body) {
        <ng-content select="[content_without_body]"></ng-content>
    }
    @if (show_footer) {
        <div class="card-footer" [class]="footer_classes">
            <ng-content select="[footer]"></ng-content>
        </div>
    }
</div>
