<main class="bd-main order-1">
    <div class="bd-intro pt-2 ps-lg-2">
        <h1 class="bd-title mb-0">
            Ingresaste al dashboard
        </h1>
        <p class="bd-lead">
            Use Bootstraps JavaScript modal plugin to add 
            dialogs to your site for lightboxes, user 
            notifications, or completely custom content.
        </p>
    </div>
    <div class="bd-content ps-lg-2">
        <div class="row g-2">
            <div class="col-12 col-md-12 col-lg-8 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            Ubicación
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Nullam facilisis, massa ac cursus dignissim, odio justo dignissim dui, rutrum auctor lorem dolor nec orci. Mauris nibh dui, sodales at euismod sed, maximus eu leo. Integer vel ante enim. Proin ac dictum lacus, bibendum volutpat erat. Fusce commodo ipsum nisi, vitae tincidunt nunc placerat quis. Aliquam pellentesque quis justo ac facilisis. Nam molestie ultricies felis a eleifend. Duis tristique elit ipsum, accumsan posuere tellus porta sed. Sed maximus laoreet quam et ultricies. Aenean consequat consequat arcu, ac mollis est tempus quis. Duis pharetra tortor eget enim sagittis, et vehicula risus sollicitudin. Vestibulum eget commodo nisl. Cras id hendrerit dui. Morbi a felis id mauris cursus tincidunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            Usuarios activos
                        </h3>
                    </div>
                    <div class="card-body">
                        <h1><span class="badge bg-dark border">Hola</span></h1>
                        <h2><span class="badge bg-light text-dark">Hola</span></h2>
                        <h3><span class="badge bg-warning">Hola</span></h3>
                        <h4><span class="badge bg-danger">Hola</span></h4>
                        <h5><span class="badge bg-success">Hola</span></h5>
                        <h6><span class="badge bg-primary">Hola</span></h6>
                        <h6><span class="badge bg-secondary">Hola</span></h6>
                        <h6><span class="badge bg-info text-dark">Hola</span></h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            Objetivos
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Donec sollicitudin sapien ex, in aliquam elit facilisis eget. In fermentum et metus at auctor. Ut et odio nulla. Maecenas congue lectus cursus ligula fermentum cursus. Duis porta ultricies dolor ac aliquet. Donec laoreet augue diam, in rutrum est gravida eget. Sed porttitor finibus suscipit. Nullam sollicitudin eget leo at finibus. Phasellus sagittis eleifend ipsum eu interdum. Proin tincidunt ante in dignissim facilisis. Duis viverra vulputate urna non ullamcorper. Nullam eget nunc sit amet leo ullamcorper molestie eu nec nisi. Fusce aliquet pharetra enim eu molestie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-8">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            ¿Por qué entrar?
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Donec sollicitudin sapien ex, in aliquam elit facilisis eget. In fermentum et metus at auctor. Ut et odio nulla. Maecenas congue lectus cursus ligula fermentum cursus. Duis porta ultricies dolor ac aliquet. Donec laoreet augue diam, in rutrum est gravida eget. Sed porttitor finibus suscipit. Nullam sollicitudin eget leo at finibus. Phasellus sagittis eleifend ipsum eu interdum. Proin tincidunt ante in dignissim facilisis. Duis viverra vulputate urna non ullamcorper. Nullam eget nunc sit amet leo ullamcorper molestie eu nec nisi. Fusce aliquet pharetra enim eu molestie.
                        </p>
                        <hr>
                        <p>
                            Nam pharetra, ligula non tristique lobortis, ex mi consequat libero, nec euismod leo eros sed enim. Curabitur posuere elit quis vehicula placerat. Nunc aliquam pretium dui, elementum bibendum lorem euismod vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquam dapibus bibendum. Aenean tristique mauris et quam rhoncus, at efficitur eros ornare. Donec eget ligula malesuada enim lacinia tincidunt vitae eu nisi. Cras dignissim magna id mollis tristique. Aenean efficitur porta condimentum.
                            Phasellus nec neque vitae sem volutpat vestibulum. Mauris eu nunc non lacus convallis laoreet sit amet sed eros. Sed ornare consequat ligula a laoreet. Donec finibus mi vitae lacus varius cursus. Ut feugiat urna ac rutrum interdum. Vivamus vel feugiat ligula. Sed at justo rhoncus, iaculis nisl et, aliquet ipsum. Aliquam rutrum tristique erat volutpat viverra. Mauris eget vulputate nisl, sed sagittis purus. Nunc euismod mauris a nisl pulvinar accumsan. Nam imperdiet fringilla egestas. Curabitur malesuada scelerisque arcu id fermentum. Donec quis nulla nisi. In hac habitasse platea dictumst.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>