<div 
    class="modal fade" 
    [id]="id_modal"
    tabindex="-1" 
    role="dialog"
    [bsmostrar]="se_muestra_modal"
    aria-hidden="true"
    [attr.data-bs-keyboard]="permitirCerrarFueraDeModal" 
    [attr.data-bs-backdrop]="dataBackdrop"
    (click)="emitirClickCerrarAreaModal()"
>
    <div 
        class="
            modal-dialog 
            modal-fullscreen-lg-down 
            modal-dialog-centered 
            modal-dialog-scrollable
            {{ claseMedida }}
        "
        (click)="emitir_click_cuadro_dialogo()"
    >
        <div class="modal-content">

            <ng-container *ngIf="!ocultarEncabezado">
                <div class="modal-header">
                    <ng-content select="[encabezado]"></ng-content>
                    <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"
                        aria-hidden="true"
                        (click)="emitirClickCerrarBoton()"
                    >
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </ng-container>

            <div class="modal-body" *ngIf="mostrarContenido">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <ng-content select="[contenido]"></ng-content>
                        </div>
                    </div>
                </div>
            </div>

            <ng-content select="[contenidoSinBody]"></ng-content>

            <ng-container *ngIf="!ocultarPie">
                <div class="modal-footer">
                    <ng-content select="[pie]"></ng-content>
                </div>
            </ng-container>

        </div>
    </div>
</div>