<div class="min-vh-100 d-flex flex-column justify-content-between">
    <div>
        <div [class]="clases_display_sticky_barra_arriba">
            <ng-content select="[barra-superior]"></ng-content>
        </div>
        <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
            <ng-content select="[_router_outlet]"></ng-content>
        </div>        
    </div>
    <div [class]="clases_display_sticky_barra_abajo">
        <ng-content select="[barra-superior-inferior]"></ng-content>
    </div>
    <div [class]="clases_display_sticky_barra_arriba">
        <ng-content select="[barra-inferior]"></ng-content>
    </div>    
</div>
