<div 
    class="
        min-vh-100 
        d-flex flex-column 
        justify-content-between 
        overflow-y-auto 
        overflow-x-hidden
    " 
    (scroll)="scroll_ventana($event)"
    style="max-height: 100vh;"
>
    <!-- <div [class]="clases_display_sticky_barra_arriba">
        <ng-content select="[barra-superior]"></ng-content>
    </div> -->
    <!-- <div class=""> -->
        @switch (modo_viewport()) {
          @case ('escritorio') {
              <div class="d-flex">
                  <div>
                      <ng-container [ngTemplateOutlet]="barraLateral"></ng-container>
                  </div>
                  <ng-container [ngTemplateOutlet]="paginaPrincipal"></ng-container>
              </div>
          }
          @case ('movil') {
            <ng-container [ngTemplateOutlet]="paginaPrincipal"></ng-container>
            <div class="d-block d-sm-block sticky-bottom mt-5">
                <ng-container [ngTemplateOutlet]="barraLateral"></ng-container>
            </div>
          }
          @default {
            
          }
        }
    <!-- </div> -->
    <!-- <div [class]="clases_display_sticky_barra_abajo">
        <ng-content select="[barra-superior-inferior]"></ng-content>
    </div> -->
    <!-- <div [class]="clases_display_sticky_barra_arriba">
        <ng-content select="[barra-inferior]"></ng-content>
    </div>     -->
</div>

<button
    *ngIf="mostrar_boton_top"
    class="
        btn 
        position-fixed 
        bottom-0 
        end-0 
        mb-2
        me-2
        boton-scroll-top
        rounded-circle
        border
        text-hover-warning
        border-hover-warning
        scale-hover-xxl
        shadow-hover-xl
    "
    (click)="scroll_hasta_arriba()"
>
    <i class="bi bi-arrow-up"></i>
</button>

<ng-template
    #barraLateral
>
    <ng-content select="[barra-lateral-menu]"></ng-content>
</ng-template>

<ng-template
    #paginaPrincipal
>
    <div 
        
        class=" container-fluid vstack gap-3"
    >
        <div class="sticky-top backdrop-filter-blur rounded-bottom-3 bg-dark-transparent border-2 border-bottom border-secondary">
            <ng-content select="[barra-breadcrumbs]"></ng-content>
        </div>
        <ng-content select="[_router_outlet]"></ng-content>
    </div>
</ng-template>
