<router-outlet></router-outlet>
<app-control-notificaciones></app-control-notificaciones>

<app-modal-normal
    #busqueda_global
    (cerrar)="cerrar_perfil_usuario()"
    [medida]="'mediano'"
>

    <h3 encabezado>
        <i class="bi bi-search me-1"></i>
        Búsqueda global
    </h3>

    <div contenido>
        Buscar en todos lados...
    </div>

</app-modal-normal>

<app-modal-normal
    #perfil_usuario
    (cerrar)="cerrar_perfil_usuario()"
    [medida]="'grande'"
>

    <h3 encabezado>
        <i class="bi bi-person me-1"></i>
        Perfil
    </h3>

    <div contenido>
        Perfil de usuario
    </div>

</app-modal-normal>

<app-modal-normal
    #notificaciones_usuario
    [medida]="'chico'"
    (cerrar)="cerrar_notificaciones_usuario()"
>

    <h3 encabezado>
        <i class="bi bi-bell me-1"></i>
        Notificaciones
    </h3>

    <div contenido>
        Notificaciones de usuario
    </div>

</app-modal-normal>