<app-ajustador-layout>
    <app-barra-superior
        barra-superior
        [sticky]="false"
        [links_texto]="links_texto"
        [links_simbolo]="links_simbolo"
    ></app-barra-superior>
    <app-barra-superior
        barra-superior-inferior
        [sticky]="false"
        [links_texto]="links_texto"
        [links_simbolo]="links_simbolo"
    ></app-barra-superior>
    <router-outlet _router_outlet></router-outlet>    
    <app-barra-inferior barra-inferior></app-barra-inferior>    
</app-ajustador-layout>