<app-ajustador-layout>
    <!-- <app-barra-superior
        barra-superior
        [sticky]="false"
        [links_texto]="links_texto"
        [links_simbolo]="links_simbolo"
    ></app-barra-superior>
    <app-barra-superior
        barra-superior-inferior
        [sticky]="false"
        [links_texto]="links_texto"
        [links_simbolo]="links_simbolo"
    ></app-barra-superior> -->
    <app-barra-lateral-menu
        barra-lateral-menu
    ></app-barra-lateral-menu>
    <app-barra-breadcrumbs
        barra-breadcrumbs
    ></app-barra-breadcrumbs>
    <router-outlet _router_outlet></router-outlet>    
    <app-barra-inferior barra-inferior></app-barra-inferior>    
</app-ajustador-layout>
<!-- <app-modal-normal
    (id_modal)="id_modal=$event"
    [medida]="'grande'"
>
    <h3 class="modal-title" encabezado>
        Perfil de usuario
    </h3>

    <div contenido>
        <p>
            Este es el contenido
        </p>
    </div>
</app-modal-normal> -->