@if (!!se_muestra_panel_de_menus) {
    <div class="bd-main order-1">
        <div class="bd-intro">
            <!-- <h1 class="bd-title mb-3">
                Ingresar a alguno de los sub-menus de: <strong>{{menu_actual.nombre}}</strong>
            </h1> -->
            <!-- <p class="bd-lead">
                Use Bootstraps JavaScript modal plugin to add 
                dialogs to your site for lightboxes, user 
                notifications, or completely custom content.
            </p> -->
        </div>
        <div class="bd-content">
            @switch (!!menu_actual.sub_menus) {
                @case (true) {
                    <div class="row g-3">
                        @for (menu of sub_menus; track menu.link) {
                            <div class="col-12 col-md-12 col-lg-8 col-xl-4 col-xxl-4">
                                <div 
                                    class="card shadow-hover-md border-hover-primary text-hover-primary scale-hover-sm h-100"
                                    [routerLink]="['/', breadcrumb_service.url_layout].concat(menu.ruta_completa.split('/'))" 
                                    routerLinkActive="router-link-active"
                                    (click)="se_muestra_panel_de_menus = false"
                                >
                                    <div class="card-body">
                                        <div class="vstack gap-0">
                                            <div class="w-100 text-center">
                                                <h1>
                                                    <i [class]="menu.simbolo"></i>
                                                </h1>
                                            </div>
                                            <div class="w-100 text-center">
                                                <h3>{{menu.nombre}}</h3>
                                                <p>{{menu.descripcion}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                @case (false) {
                    <div class="row">
                        <div class="col-12">
                            <h1>Parece que no tienes permiso para acceder a nada relacionado</h1>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
} @else {
    <router-outlet></router-outlet>
}