<!-- <div class="container"> -->
    <div class="row gx-1 flex-grow">
        <div class="col-md-12 col-lg-8">
            <div class="w-100 h-100 border rounded tw-">
                Formulario
            </div>
        </div>
        <div class="col-lg-4">
            <div class="w-100 h-100 border rounded">
                @for (num of range(); track num) {
                    <span class="h1">
                        Historial (#{{num}})
                    </span> <br>
                }
            </div>
        </div>
    </div>
<!-- </div> -->
