<div [formGroup]="formulario_contenedor">
    <ng-container [ngSwitch]="tipo_campo">
        <ng-container *ngSwitchCase="'BS_DROPDOWN'">
            <p>BS_DROPDOWN</p>
        </ng-container>
        <ng-container *ngSwitchCase="'BS_LISTGROUP'">
            <p>BS_LISTGROUP</p>
        </ng-container>
        <ng-container *ngSwitchCase="'TEXTAREA'">
            <p>TEXTAREA</p>
        </ng-container>
        <ng-container *ngSwitchCase="'DATALIST'">
            <p>DATALIST</p>
        </ng-container>
        <ng-container *ngSwitchCase="'CHECK'">
            <p>CHECK</p>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="form-floating">
                <input
                    [class]="clase_campo"
                    [id]="id_campo"
                    [type]="tipo_campo"
                    [formControlName]="llave_campo"
                    [placeholder]="etiqueta_campo"
                >
                <label [for]="id_campo">
                    {{ etiqueta_campo }}
                </label>
            </div>
        </ng-container>
    </ng-container>
</div>
