<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <app-card
            [mostrar_encabezado]="true"
        >
            <div encabezado>
                Iniciar sesión
            </div>
            <div cuerpo>
                <app-formulario-dinamico
                    #app_formulario_dinamico
                    [validar]="false"
                    [campos]="datos_formulario"
                    [icono_boton_submit]="'bi bi-box-arrow-in-right'"
                    [mensaje_boton_submit]="'Ingresar'"
                    (valores)="guardar_valores_formulario($event)"
                    (on_submit)="on_submit()"                    
                ></app-formulario-dinamico>
            </div>
        </app-card>
    </div>
</div>