.login-section {
    height: 100vh !important;
    width: 100vw !important;
    background-image: url('../../../../../assets/images/fondo_404.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// .card {
//     width: 700px !important;
// }

