<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @for (menu of menus_actuales | keyvalue; track menu.value.link)  {
            <li 
                class="breadcrumb-item"
                [ngClass]="{'active': menu.value.link === menu_actual.link}"
                [routerLink]="[
                    './', 
                    menu.value.link === menu_actual.link
                        ? menu.value.link
                        : ''
                ]" 
                [routerLinkActive]="
                    menu.value.link === menu_actual.link
                        ? 'router-link-active'
                        : ''
                " 
            >
                <div class="btn-group">
                    <button 
                        class="btn p-1"
                        type="button"
                        [ngClass]="{
                            'text-bg-primary': menu.value.link === menu_actual.link,
                            'text-bg-secondary': !(menu.value.link === menu_actual.link)
                        }"
                    >
                        <span class="h6">
                            <i [class]="menu.value.simbolo"></i>
                            {{ menu.value.nombre }}
                        </span>
                    </button>
                    @if (menu.value.sub_menus) {                     
                        <button
                            [bs-dropdown]="
                                menu.value | sub_menus_breadcrumb_dropdown: menu_actual
                            "
                            class="btn p-1"
                            type="button"
                            [ngClass]="{
                                'text-bg-primary': menu.value.link === menu_actual.link,
                                'text-bg-secondary': !(menu.value.link === menu_actual.link)
                            }"
                        >
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    }

                </div>
            </li>
            @if (menu.value.link !== menu_actual.link) {
                <li 
                    class="breadcrumb-item"
                >
                    <button class="btn ps-0 pe-0" type="button">
                        <span class="h6 fw-bold">
                            <i class="bi bi-arrow-right"></i>
                        </span>
                    </button>
                </li>
            }
        }
    </ol>
</nav>