<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @for (menu of lista_menu_actuales; track menu.nivel)  {
            <li 
                class="breadcrumb-item ms-0 me-0 ps-0 pe-0 mt-0"
                [ngClass]="{
                    'active text-hover-secondary': menu.link === menu_actual.link,
                    'active text-hover-warning': !(menu.link === menu_actual.link)
                }"
                [routerLink]="[
                    '/', breadcrumb_service.url_layout
                ].concat(menu.ruta_completa.split('/'))" 
                [routerLinkActive]="
                    menu.link === menu_actual.link
                        ? 'router-link-active'
                        : ''
                " 
            >
                <div class="d-flex">
                    <span class="h5 me-1">
                        <i [class]="menu.simbolo"></i>
                        {{ menu.nombre }}
                        <br>
                    </span>
                    <!-- @if (menu.sub_menus) {                     
                        <div
                            [bs-dropdown]="
                                menu | sub_menus_breadcrumb_dropdown: menu_actual
                            "
                        >
                            <i class="bi bi-arrow-down-short me-2" ></i>
                        </div>
                    } -->

                </div>
            </li>
        }
    </ol>
</nav>