.recuadro-notificaciones

.bd-sidebar {
    max-height: 70vh;
}

.sidebar-completa {
    transition: width 300ms ease-in-out;
    width: 200px;
}

.sidebar-cerrada {
    transition: width 300ms ease-in-out;
    width: 60px;
}

.list-group {
    width: 200px;
}